.border-form-div.border-form-div-small
  %h2 Connexion
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { }) do |f|
    = devise_error_messages!
    
    .form-group
      = f.email_field :email, :placeholder => 'Adresse couriel', class:'form-control'
      = f.password_field :password, :placeholder => 'Mot de passe', class:'form-control'
      
    %br/
    = f.submit "Se connecter",:class=>'btn btn-success'
  = render "users/shared/links"