<ul data-role="listview">
  <li><input type="search" value="Recherche" />
  <li><%= link_to 'Matières', products_path %><span class="ui-li-count"><%= @products_count %></li>
  <li><%= link_to 'Lieux de recyclage', places_path %><span class="ui-li-count"><%= @places_count %></span></li>
  <li><%= link_to 'Astuces', astuces_path %><span class="ui-li-count">4</span></li>
  <li><%= link_to 'Instructions', instructions_path %></li>
  <li><%= link_to 'Contacts', contacts_path %><span class="ui-li-count">2</span></li>
  <li><%= link_to 'À Propos', apropos_path %></li>
</ul>
