<ul data-role="listview">
  <li><%= render 'shared/searchform' %></li>
</ul>
<br /><br />
<div class="ui-grid-b centering" >
  <div class="ui-block-a icon">
    <%= link_to image_tag('icon/matieres.png'), products_path %>
    <p>Matières</p>
  </div>
  <div class="ui-block-b icon">
    <%= link_to image_tag('icon/lieux.png'), places_path %>
    <p>Lieux de recyclage</p>
  </div>
    <div class="ui-block-c icon">
    <%= link_to image_tag('icon/recherche.png'), recherche_path %>
    <p>Recherche</p>
  </div>
  <div class="ui-block-a icon">
    <%= link_to image_tag('icon/astuces.png'), astuces_path %>
    <p>Astuces</p>
  </div>
  <div class="ui-block-b icon">
    <%= link_to image_tag('icon/instructions.png'), instructions_path %>
    <p>Instructions</p>
  </div>
  <div class="ui-block-c icon">
    <%= link_to image_tag('icon/favoris.png'), favoris_path %>
    <p>Favoris</p>
  </div>
  <div class="ui-block-a icon">
    <%= link_to image_tag('icon/apropos.png'), apropos_path %>
    <p>À Propos</p>
  </div>
  <div class="ui-block-b icon">
    <%= link_to image_tag('icon/contacts.png'), contacts_path %>
    <p>Contacts</p>
  </div>
  <div class="ui-block-c icon">
    <%= link_to image_tag('icon/statistiques.png'), apropos_path %>
    <p>Statistiques</p>
  </div>
</div>
