<ul data-role="listview">
  <li>Matière
    <ul>
      <li><%= link_to "Ajouter", new_product_path %></li>
      <%= @products.each do |product|%>
      <%= product.name %>
      <ul>
        <li><%= link_to "Voir",     product %></li>
        <li><%= link_to "Éditer",   edit_product_path(product) %></li>
        <li><%= link_to "Détruire", product, :confirm => "Vous êtes certain?", :method => :delete %></li>
      </ul>
      <% end %>
    </ul>
  </li>
</ul>