!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Nouvel établissement scolaire en attente d'activation
    
    %h3 Contact
    %p
      Nom du responsable :
      = @user.contact_name
    %p
      Numéro de téléphone
      = @user.phone_number
    %p
      Établissement
      = @user.school_name
    %p
      Courriel
      %strong= @user.email
    
    %hr
    
    %h3 Instructions d'activation
    %p
      Pour activer le compte, suivre ce lien:
      = link_to 'Tableau de bord', superuser_dashboard_url