!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Erreur d'abonnement
      
    %h2 Utilisateur
    %p
      Nom du responsable :
      = @user.contact_name
    %p
      Numéro de téléphone
      = @user.phone_number
    %p
      Établissement
      = @user.school_name
    %p
      Courriel
      %strong= @user.email
    
    %hr

    %h2 Message
    %p= @message