.border-form-div.border-form-div
  %h2 Abonnements
  = form_tag subscriptions_path, id:'payment-form', autocomplete:'on' do
    .form-group
      %span.help-block Ajouter un abonnement pour accéder au tableau de bord.
      %span.help-block
        %b Les détails de votre carte de crédit seront envoyées directement à notre processeur de paiement.
      %span.help-block.payment-errors
      = text_field_tag nil, nil, placeholder:'Numéro de carte de crédit', class:'form-control cc-num', "data-stripe"=>'number'
      
      = text_field_tag nil, nil, placeholder:'Code de sécurité (CVC)', class:'form-control cc-cvc', "data-stripe"=>'cvc', autocomplete:'off'
      
      = label_tag :expiration, "Expiration (MM/YYYY)"
      = select_month nil, { add_month_numbers_true: true}, { name:nil, "data-stripe"=>"exp-month"}
      = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, "data-stripe"=>"exp-year"}
      
      = hidden_field :user, :email, value:@email, id:'email-field'
      
    = submit_tag 'Enregistrer', class:'btn btn-lg btn-primary', "data-loading-text"=>"En traitement..."
