<%= form_for(@place) do |f| %>
<div>
  <%= f.label :name, 'Nom' %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :content, 'Description' %>
  <%= f.text_field :content %>
</div>
<div>
  <%= f.label :tags %>
  <%= f.text_field :tags%>
</div>
<div>
  <%= f.submit "Enregistrer", 'data-icon' => 'plus' %>
</div>
<% end %>