%ul.nav.nav-pills.pull-right
  - if user_signed_in?
    %li= link_to "Tableau de bord", admin_dashboard_path
    %li.dropdown
      %a.dropdown-toggle{"data-toggle"=>"dropdown", href:'#'}
        Compte
        %span.caret
      %ul.dropdown-menu{role:'menu'}
        %li
          - if current_user.subscribed
            = link_to active_subscription_path do
              %span.glyphicon.glyphicon-credit-card
              Abonnement
          - else
            = link_to new_subscription_path do
              %span.glyphicon.glyphicon-credit-card
              Abonnement
        %li
          = link_to edit_user_registration_path do
            %span.glyphicon.glyphicon-user
            Profil     
        %li.divider
        %li
          = link_to destroy_user_session_path do
            %span.glyphicon.glyphicon-off
            Se déconnecter
            
  - else
    %li= link_to "Connexion", new_user_session_path
    %li= link_to "Inscription", new_user_registration_path