<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= render 'layouts/jquerymobile'%>
  <%= render :partial => "layouts/metatags", :formats => [:html] %>
  <%= render 'shared/googleanalytics'%>
</head>
<body>
  <div data-role="page" data-theme="c" data-content-theme="c"  data-add-back-btn="true" data-back-btn-text="Retour">
    <div data-role="header" >
      <h1><%= @title %></h1>
    </div>
    <div data-role="content" id="content">
      <%= yield %>
    </div>
<!--    <div data-role="footer" id="footer"><div class="footer_text">&copy; 2012 Groupe l'Envert</div></div> -->
  </div>
</body>
</html>
