!!!
%html
  %head
    %title Instavert
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        = render 'layouts/user_header'
        .icon= image_tag('icon.png')
        %h3.muted= link_to "Savers Plus", root_path
        %h5.muted Shopping list with a twist
      %hr/
      = yield