<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= render 'layouts/jquerymobile'%>
  <%= render 'layouts/metatags'%>
  <%= render 'shared/googleanalytics'%>
</head>
<body>
  <div data-role="page" data-theme="c" data-content-theme="c">
    <div data-role="header" class="ui-bar-g">
      <h1 class="ui-title" role="heading" aria-level="1"><%= @title %></h1>
      <% unless current_page?('/') %><a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left ui-btn ui-btn-up-f ui-shadow ui-btn-corner-all ui-btn-icon-notext" title="Accueil"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Accueil</span><span class="ui-icon ui-icon-home ui-icon-shadow"/></span></a><% end %>
      <a href="/recherche" data-icon="search" data-iconpos="notext" data-rel="page" data-transition="fade" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Recherche"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Recherche</span><span class="ui-icon ui-icon-search ui-icon-shadow"></span></span></a>
    </div>
    <div data-role="content" id="content">
      <%= yield %>
    </div>
    <br />
    <div class="centering" id="footer" >&copy; 2012 Envert | Application développée par <a href="mailto:justin.domingue@hotmail.com">Justin Domingue</a></div>
  </div>
</body>
</html>
