<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= render :partial => "layouts/metatags", :formats => [:html] %> 
  <%= render 'layouts/jquerymobile'%>
</head>
<body>
  <div data-role="page" data-theme="d" data-content-theme="d" data-add-back-btn="true" data-back-btn-text="Retour">
    <% unless flash.empty? %>
      <script type="text/javascript">
        alert("<%= flash[:success] %>")
      </script>
    <% end %>
    <div id="top_bar"></div>
    <div data-role="header">
      <h1><%= @title %></h1>
      <% link_to 'Accueil', root_path, 'data-icon' => 'home', 'data-iconpos'=>"text"%>
    </div>
    <div data-role="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
